name: On Push

# Thanks to [https://github.com/JHUISI/charm/blob/dev/.github/workflows/ci.yml](https://github.com/JHUISI/charm/blob/dev/.github/workflows/ci.yml). 

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Build
      run: |
        cd "${{ github.workspace }}"
        sed '/^# Git (37) #$/,/^# Exit #$/d' build.sh | bash
    
    - name: Prepare the artifact
      id: artifact
      run: |
        cd "${{ github.workspace }}"
        artifact="$(basename "$(find Release -type f | sort | tail -1)")"
        echo "artifact=${artifact}" >> $GITHUB_OUTPUT
    
    - name: Upload the artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.artifact.outputs.artifact }}
        path: ${{ github.workspace }}/Release/${{ steps.artifact.outputs.artifact }}
        if-no-files-found: error